<header>
  <div id="header">
    <div class="container">
      <div class="row">
        <div class="collapse navbar-collapse" id="navbarText">
          <a style="color: #00b1ba" class="nav-link" href="#">Welcome to FREEBIE</a>
          <ul class="header-links pull-right">
            <li>
              <a class="nav-link" href="/admin">Admin</a>
            </li>
            <li>
              <a (click)="onBackButtonClick()">Login</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</header>
