<header>
  <div id="header">
    <div class="container">
      <div class="row">
        <div class="collapse navbar-collapse" id="navbarText">

          <ul class="header-links pull-left">
            <li>
              <a style="color: white" class="nav-link" href="#">Welcome to FREEBIE</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/directives">Using Directives and Pipes</a>
            </li>
          </ul>

          <ul class="header-links pull-right">
            <li>
            <a (click)="onBackButtonClick()">Login</a>
            </li>
            <li>
              <a class="nav-link" href="">Profile</a>
            </li>
          </ul>

        </div>
      </div>
    </div>
  </div>
</header>
