<app-header></app-header>
<br>
<router-outlet></router-outlet>


<div class="section">
  <div class="container">
    <div class="row">

      <div class="col-md-3 col-xs-6">
        <div class="product">
          <div class="product-img">
            <img src="/assets/img/okko.jpg" alt="">
          </div>
          <div class="product-body">
            <p class="product-category">Promo</p>
            <h3 class="product-name"><a href="#">60 дней подписки Оптимум всего за 1 рубль</a></h3>
          </div>
        </div>
      </div>

      <div class="col-md-3 col-xs-6">
        <div class="product">
          <div class="product-img">
            <img src="/assets/img/domino.png" alt="">
          </div>
          <div class="product-body">
            <p class="product-category">Food</p>
            <h3 class="product-name"><a href="#">Скидка 38% на заказ!</a></h3>
          </div>
        </div>
      </div>

      <div class="col-md-3 col-xs-6">
        <div class="product">
          <div class="product-img">
            <img src="/assets/img/KFCpng.png" alt="">
          </div>
          <div class="product-body">
            <p class="product-category">Food</p>
            <h3 class="product-name"><a href="#">2 Твистера де Люкс по цене 1</a></h3>
          </div>
        </div>
      </div>

      <div class="col-md-3 col-xs-6">
        <div class="product">
          <div class="product-img">
            <img src="/assets/img/elite.png" alt="">
          </div>
          <div class="product-body">
            <p class="product-category">Game</p>
            <h3 class="product-name"><a href="#">Elite Dangerous для EpicGames</a></h3>
          </div>
        </div>
      </div>

      <div class="col-md-3 col-xs-6">
        <div class="product">
          <div class="product-img">
            <img src="/assets/img/software.png" alt="">
          </div>
          <div class="product-body">
            <p class="product-category">Software</p>
            <h3 class="product-name"><a href="#">Бесплатно (вместо 4122р) получаем Glarysoft Software Update Pro</a></h3>
          </div>
        </div>
      </div>

      <div class="col-md-3 col-xs-6">
        <div class="product">
          <div class="product-img">
            <img src="/assets/img/tnt.png" alt="">
          </div>
          <div class="product-body">
            <p class="product-category">Promo</p>
            <h3 class="product-name"><a href="#">Cмотрим бесплатно 30 дней TNT-PREMIER</a></h3>
          </div>
        </div>
      </div>

      <div class="col-md-3 col-xs-6">
        <div class="product">
          <div class="product-img">
            <img src="/assets/img/artist.png" alt="">
          </div>
          <div class="product-body">
            <p class="product-category">Software</p>
            <h3 class="product-name"><a href="#">Бесплатно (вместо 320р) получаем медиа-плеер </a></h3>
          </div>
        </div>
      </div>

      <div class="col-md-3 col-xs-6">
        <div class="product">
          <div class="product-img">
            <img src="https://www.allkeyshop.com/blog/wp-content/uploads/buy-parkour-simulator-cd-key-compare-prices.jpg" alt="">
          </div>
          <div class="product-body">
            <p class="product-category">Game</p>
            <h3 class="product-name"><a href="#">Бесплатно получаем игру Parkour Simulator 3D</a></h3>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<app-footer></app-footer>
