<div class="section">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-xs-6">
        <div class="product">
          <div class="product-img">
            <img src="/assets/img/PROMO.png" alt="promo">
          </div>
          <div class="product-body">
            <p class="product-category">Lorem Ipsum</p>
            <h3 class="product-name">
              <a href="" class="button1">BACK</a>
            </h3>
            <p>Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов, используя Lorem Ipsum для распечатки образцов.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

